body {
	margin-top: 1.67em;
	font-family: "LantingHei SC", "Microsoft YaHei";
	background: url('../img/pants.png');
	line-height: 24px;
}

.img-circle {
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
}

.logo {
	margin-top: 25%;
	max-width: 100%;
}

.col-md-4 {
	display: inline-table;
	margin: 0 auto;
}

h3 {
	text-align: center;
	color: #948484;
}