body {
	margin-top: 1.67em;
	font-family: "LantingHei SC", "Microsoft YaHei";
	background: url('../img/pants.png');
	line-height: 24px;
}

.img-circle {
	-webkit-border-radius: 800px;
	-moz-border-radius: 800px;
	border-radius: 800px;
}

.logo {
	margin-top: 25%;
	max-width: 100%;
}

h3 {
	text-align: center;
}